<h4>welcome to blackjack, <%= session[:player_name] %>.</h4>

<%= session[:dealer_cards].to_s %>
<p>dealer has: <%= calculate_total(session[:dealer_cards]) %></p>
<br />
<br />
<%= session[:player_cards] %>
<p><%= session[:player_name] %> has: <%= calculate_total(session[:player_cards]) %></p>
<br />
<br />
<% if @show_button_flag %>
<form method="post" action='/game/player/hit'>
  <input type='submit' class='btn-large btn-success' name='hit_button' value='hit me!' />
</form>
<form method="post" action='/game/player/stay'>
  <input type='submit' class='btn-large btn-danger' name='stay_button' value='stay' />
</form>
<% end %>

